/*
  Use this file to override pico defaults.
*/

:root:not([data-theme='dark']) {
  --primary: #5d44f8;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #fab700;
  }
}

/*
The opposite of aria-hidden="true", this makes an element 
aria-accessible but visually hidden. Ex:
<element visually-hidden="true">
*/
[visually-hidden='true'] {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
